body{
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #171717;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* UI items
 *********************************************************************/
.ui{
  background-color: #222222;
}

/* Gallery
 *********************************************************************/
.gallery{
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-right: -20px;
  background-color: transparent;
}

.gallery-item{
  width: 33.33333vw;
  height: 33.33333vw;
  position: relative;
  background-image: url("PLACEHOLDER"); /* TODO */
}

@media screen and (max-width:60px){
  .gallery-item{
    width: 100vw;
    height: 100vw;
  }
}

@media screen and (min-width:640px){
  .gallery-item{
    width: 25vw;
    height: 25vw;
  }
}

@media screen and (min-width:1200px){
  .gallery-item{
    width: 16.666667vw;
    height: 16.666667vw;
  }
}

@media screen and (min-width:1450px){
  .gallery-item{
    width: 14.285714vw;
    height: 14.285714vw;
  }
}
.gallery-item:before{
  content: "";
  position: absolute;
  top: 0;
  bottom:0;
  right: 0;
  left: 0;
  background: linear-gradient(transparent,transparent, transparent, #222222);
}

.gallery-item img.gallery-image{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery-item .account{
  position: absolute;
  display: inline-block;
  bottom: 0px;
  z-index: 1;
  margin: 10px;
}
.avatar{
  height: 20px;
  width:  20px;
  border-radius: 100%;
  display: inline-block;
}
.name{
  display: inline-block;
  color: white;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 640px){
  .avatar{
    height: 2em;
    width:  2em;
  }
  .name{
    font-size: 1rem;
  }
}
@media screen and (min-width:1200px){
  .avatar{
    height: 3em;
    width:  3em;
  }
}
